@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;
    @apply select-none;
    @apply antialiased;
    @apply overflow-hidden;
    @apply font-sans bg-neutral-950 text-neutral-50;
  }

  body {
    text-rendering: optimizeLegibility;
  }

  #titlebar {
    -webkit-app-region: drag;
  }

  #windowButtons {
    -webkit-app-region: no-drag;
  }

  .drag-none {
    -webkit-user-drag: none;
  }
}
